{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/app/js/client_survey.js') }}"></script>
{% endblock %}

{% block body %}
<h1 id="h1" data-id="{{ survey.id }}">{{ survey.title }}</h1>

    <button class="btn btn-success" data-toggle="collapse" data-target="#survey">Start</button>

<div id="survey" class="collapse" style="margin:20px;">
    <ul>
{% for question in survey.questions %}

        <li style="list-style-type: none">
            <h4>{{ question.question }}</h4>
            <form class="form-group">
                {% for choice in question.choices %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="{{ question.id }}" id="optionsRadios1" value="{{ choice.name }}">
                            {{ choice.name }}
                        </label>
                    </div>
                {% endfor %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="{{ question.id }}" data-value="custom" checked>
                        Other <input type="text" class="form-check-input" name="{{ question.id }}">
                    </label>
                </div>
            </form>
        </li>

{% endfor %}
    </ul>

    <button class="btn btn-primary" id="submit">Submit</button>
</div>

{% endblock %}
